    <div class="mb-6 bg-[#E67553] text-white rounded-lg p-6">
      <div class="flex items-center gap-6">
        <div class="flex-1">
          <h1 class="text-2xl font-bold mb-2">Bienvenido a Reto Factus</h1>
          <p class="text-lg">
            Un Aplicativo para emitir documentos electrónicos como facturas, notas creditos, notas debitos con validacion previa ante la DIAN.
          </p>
        </div>
        <div class="hidden md:block">
          <div class="w-32 h-32 relative">
            <div class="absolute inset-0 flex items-center justify-center">
              <img src="assets/imgs/Logo2.png" alt="" class="float-right rounded-lg">
            </div>
          </div>
        </div>
      </div>
    </div>


      <div class="max-w-6xl mx-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        <!-- Clientes -->
        <button (click)="clientes()" class="bg-white shadow-md rounded-lg p-6 text-center hover:bg-blue-100 transition">
          <div class="text-blue-500 text-3xl mb-4">
            <i class="fas fa-users"></i>
          </div>
          <h3 class="text-lg font-semibold">Clientes</h3>
        </button>
        <!-- Productos -->
        <button (click)="productos()" class="bg-white shadow-md rounded-lg p-6 text-center hover:bg-green-100 transition">
          <div class="text-green-500 text-3xl mb-4">
            <i class="fas fa-box"></i>
          </div>
          <h3 class="text-lg font-semibold">Productos</h3>
        </button>
        <!-- Facturas -->
        <button (click)="facturas()" class="bg-white shadow-md rounded-lg p-6 text-center hover:bg-yellow-100 transition">
          <div class="text-yellow-500 text-3xl mb-4">
            <i class="fas fa-file-invoice"></i>
          </div>
          <h3 class="text-lg font-semibold">Facturas</h3>
        </button>
        <!-- Notas Créditos -->
        <button class="bg-white shadow-md rounded-lg p-6 text-center hover:bg-purple-100 transition">
          <div class="text-purple-500 text-3xl mb-4">
            <i class="fas fa-file-alt"></i>
          </div>
          <h3 class="text-lg font-semibold">Notas Créditos</h3>
        </button>
        <!-- Notas Débito -->
        <button  class="bg-white shadow-md rounded-lg p-6 text-center hover:bg-red-100 transition">
          <div class="text-red-500 text-3xl mb-4">
            <i class="fas fa-receipt"></i>
          </div>
          <h3 class="text-lg font-semibold">Notas Débito</h3>
        </button>
        <!-- Herramientas -->
        <button  class="bg-white shadow-md rounded-lg p-6 text-center hover:bg-indigo-100 transition">
          <div class="text-indigo-500 text-3xl mb-4">
            <i class="fas fa-tools"></i>
          </div>
          <h3 class="text-lg font-semibold">Herramientas</h3>
        </button>
      </div>


