<div class="p-4">
  <div class="mb-2 bg-[#E67553] text-white rounded-lg p-2">
    <div class="flex items-center gap-2">
      <div class="flex-1">
        <h1 class="text-2xl font-bold mb-2">Gestión de Clientes</h1>
      </div>
      <div class="hidden md:block">
        <div class="w-32 h-32 relative">
          <div class="absolute inset-0 flex items-center justify-center">
            <i class="fas fa-users"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Muestra mensaje si no hay clientes -->
  <div *ngIf="clientes.length === 0; else table" class="text-center rounded-md">
    <div *ngIf="loader" class="flex flex-col items-center justify-center space-y-2">
      <div class="w-10 h-10 border-4 border-blue-500 border-t-transparent rounded-full animate-spin"></div>
      <p class="text-gray-700 font-semibold">Cargando...</p>
    </div>
    <div *ngIf="!loader" class="bg-amber-300">
      <br>
      <h1>No hay clientes que mostrar!</h1>
      <br>
    </div>
  </div>


  <!-- Template para mostrar la tabla de clientes -->
  <ng-template #table>
    <!-- Barra de búsqueda por id -->
    <div class="grid grid-cols-12 gap-4 mb-4" *ngIf="!clienteSeleccionado && !clienteNuevo">
      <div class="col-span-4">
        <input
          [(ngModel)]="filtroId"
          type="number"
          placeholder="Buscar cliente por # Id"
          class="w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>

      <!-- Barra de búsqueda por nombre -->
      <div class="col-span-8">
        <input
          [(ngModel)]="filtroName"
          type="text"
          placeholder="Buscar cliente por nombre..."
          class="w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>
    </div>

    <!-- Tabla responsiva -->
    <div class="overflow-x-auto" *ngIf="!clienteSeleccionado && !clienteNuevo">
      <table class="min-w-full border-collapse border border-gray-300">
        <thead>
          <tr class="bg-gray-200 text-gray-700 uppercase text-sm">
            <th class="py-2 px-4 border border-gray-300">ID</th>
            <th class="py-2 px-4 border border-gray-300">Nombre</th>
            <th class="py-2 px-4 border border-gray-300">Correo</th>
            <th class="py-2 px-4 border border-gray-300">Teléfono</th>
            <th class="py-2 px-4 border border-gray-300">Acciones
              <button
              class="bg-green-600 text-white px-4 py-2 rounded-lg hover:bg-green-700"
              (click)="nuevoCliente()"
              >
                <i class="fas fa-plus"></i>
                Nuevo
              </button>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let cliente of clientesFiltrados()"
            class="hover:bg-gray-100"
          >
            <td class="py-2 px-4 border border-gray-300">{{ cliente.identification }}</td>
            <td class="py-2 px-4 border border-gray-300">{{ cliente.names }}</td>
            <td class="py-2 px-4 border border-gray-300">{{ cliente.email }}</td>
            <td class="py-2 px-4 border border-gray-300">{{ cliente.phone }}</td>
            <td class="py-2 px-4 border border-gray-300 flex space-x-2">
              <!-- Botones CRUD -->
              <button
                class="bg-blue-500 text-white px-2 py-1 rounded-lg hover:bg-blue-700"
                (click)="editarCliente(cliente)"
              >
                <i class="fas fa-edit"></i>
                Editar
              </button>
              <button
                class="bg-red-500 text-white px-2 py-1 rounded-lg hover:bg-red-700"
                (click)="eliminarCliente(cliente.identification)"
              >
                <i class="far fa-trash-alt"></i>
                Eliminar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-template>

  <!-- Si un cliente está seleccionado, muestra su formulario -->
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <div *ngIf="clienteSeleccionado" class="content-center py-12">
      <app-cliente-form
      [clienteSeleccionado]="clienteSeleccionado"
      (cancelarFormulario)="onCancelarFormulario()"
      ></app-cliente-form>
    </div>
  </div>

    <!-- Crear cliente, muestra su formulario -->
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <div *ngIf="clienteNuevo" class="content-center py-12">
        <app-cliente-add
        (cancelarFormulario)="onCancelarFormulario()"
        ></app-cliente-add>
      </div>
    </div>
</div>
