<footer class="bg-[#4B69B9] text-[#F97316] py-6">
  <div class="container mx-auto text-center">
    <img src="assets/imgs/Logo2.png" alt="Logo" class="mx-auto mb-4 w-24 h-auto">
    <p class="text-lg">&copy; 2025 Factus App. Todos los derechos reservados.</p>
    <nav class="mt-4">
      <a (click)="inicio()" class="mx-2 text-[#F97316] hover:text-white">Inicio</a>
      <a (click)="retos()" class="mx-2 text-[#F97316] hover:text-white">Retos</a>
      <a (click)="puntuacion()" class="mx-2 text-[#F97316] hover:text-white">Puntuaciones</a>
      <a (click)="nosotros()" class="mx-2 text-[#F97316] hover:text-white">Nosotros</a>
    </nav>
  </div>
</footer>
