<!-- src/app/modules/auth/components/logout/logout.component.html -->
<div class="relative inline-block text-left">
  <table (click)="toggleDropdown()" class="hover:bg-indigo-400 rounded-sm">
    <tr>
      <th>
        <span class="mr-2 font-semibold text-gray-700">{{ userSS }}</span>
      </th>
      <th>
        <button  class="flex items-center focus:outline-none">
          <img
            src="assets/imgs/avatar.png"
            alt="Avatar"
            class="w-8 h-8 rounded-full"
          />
        </button>
      </th>
    </tr>
  </table>

  <!-- Dropdown -->
  <div
    *ngIf="isDropdownOpen"
    class="absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg z-10"
  >
    <button (click)="logout()" class="block px-4 py-2 text-sm bg-indigo-300 text-gray-700 hover:bg-indigo-400 w-full text-left rounded-sm">
      Cerrar sesión
    </button>
  </div>
</div>
