/* src/app/modules/auth/components/logout/logout.component.css */
.relative {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 150px;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

table {
  cursor: pointer;
}
